/*
GIPHY Brand Colors
Green:  #22ff87
Cyan:   #18c1ff
Purple: #8500fe
Red:    #fd4d53
Yellow: #fef34b
*/

.btn-primary {
    background-color: #18c1ff;
    border-color: #18c1ff;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #00afed;
    border-color: #00a8e1;
}

.btn-purple {
    background-color: #8500fe;
    border-color: #8500fe;
    color: #fff;
}
.btn-purple:hover, .btn-purple:active, .btn-purple:focus,
.show .btn-purple.dropdown-toggle {
    background-color: #7200ec;
    border-color: #6B00f7;
}

body {
    background: #0f0f0f;
    color: #fff;
}

#hero-canvas {
    width: 100%;
}

#originalImage { width: 100%; }
#originalSlug { text-align: center; color: #000; }

.imgResult {
    display: inline-flex;
    position: relative;
}

.imgResult img {
    display: block;
    position: absolute;
    cursor: pointer;
}

.metadata {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    background-color: #222;
    /* background-color: #fff; */
    /* color: #000; */
}

.rating {
    float: left;
    margin-left: 4px;
}

img.resize {
    right: 4px; bottom: 4px;
}
